# vi: set ft=gitcommit #
# Subject Line (50-character):


# Details (72-character):

# Include a link to the ticket, if any:

# Related work items (seperated by comma) #
# Related work items: #

# Add co-authors if you worked on this code with others:
# Replace with standard information #
# Co-authored-by: Full Name <email@example.com>
